@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 240, 240);
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

.homepage {
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.searchbar {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.searchbar__input {
  width: 70%;
  padding: 1rem;
  font-size: 1rem;  
  border: 2px solid #ccc;
  border-radius: 0.5rem;
}

.searchbar__input:focus {
  outline: none;
  border-color: rgb(113, 158, 206);
  box-shadow: 0 0 10px rgb(113, 158, 206);
}

.sort-filter {
  margin-top: 1rem;
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 70%;
}

.filter {
  width: 50%;
  display: flex;
  gap: 1rem;
}

.filter label {
  margin-top: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
}

.filter select {
  outline: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem;
  padding: 0.5rem;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 0.5rem;
}

.filter select:hover {
  cursor: pointer;
}

.sort {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  gap: 1rem
}

.sort select {
  outline: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem;
  padding: 0.5rem;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 0.5rem;
}

.sort select:hover {
  cursor: pointer;
}

.sort button {
  border: 1px solid rgb(225, 225, 225);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  text-align: start;
}

.sort button:hover {
  background-color: rgb(225, 225, 225);
  cursor: pointer;
}

.movies-container {
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.movie {
  margin: auto;
  max-width: 500px;
  background-color: rgb(225, 225, 225);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 5px 5px 5px #888888;
  display: flex;
  flex-direction: column;  
  align-items: center;
}

.movie__img { 
  margin-bottom: 1rem; 
  width: 75%;  
  align-self: center;
  border-radius: 1rem;
  overflow: hidden; 
  cursor: pointer; 
}

.movie__img-img {  
  transition: 0.3s ease-in-out;
}

.movie__img-img:hover {
  transform: scale(1.2);
  opacity: 95%;
}

.movie__title {
  margin-bottom: 2rem;
  text-align: center;
}

.movie__box_office {
  margin-bottom: 1rem;
}

.movie-detail {
  padding: 1.5rem 5rem 5rem 5rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0;
}

.movie-detail__card {
  width: 85%;
}

.movie-detail__img-img {
  border-radius: 0.75rem;
  margin-bottom: 1rem;
}

.movie-detail__title {
  margin-bottom: 2rem;
}

.movie-detail__box-office {
  margin-bottom: 1rem;
}

.movie-detail__button {
  display: none;
}

.movie-detail__trailer-overview {
  display: grid;
  grid-template-rows: 3fr 1fr;
  row-gap: 3rem;
}

@media only screen and (max-width: 1300px) {
  .movies-container {
    gap: 2rem;
  }
}

@media only screen and (max-width: 1120px) {
  .movies-container {
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
}

@media only screen and (max-width: 900px) {
  .movies-container {
    gap: 2rem;
  }

  .filter {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .sort {
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (max-width: 800px) {
  .movies-container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .movies-container {
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .searchbar__input {
    width: 85%;
  }

  .sort-filter {
    width: 85%;
  }
}