* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.homepage-container {
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.searchbar {
  padding-top: 2rem;
}

.searchbar__form {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.searchbar__input {
  width: 70%;
  padding: 1rem;
  font-size: 1rem;  
  border: 2px solid #ccc;
  border-radius: 0.5rem;
}

.searchbar__input:focus {
  outline: none;
  border-color: rgb(113, 158, 206);
  box-shadow: 0 0 10px rgb(113, 158, 206);
}

.movies-container {
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.movie-container {
  margin: auto;
  max-width: 500px;
  background-color: rgb(240, 240, 240);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 5px 5px 5px #888888;
  display: flex;
  flex-direction: column;  
  align-items: center;
}

.movie-container__img { 
  margin-bottom: 1rem; 
  width: 75%;  
  align-self: center;
  border-radius: 1rem;
  overflow: hidden;  
}

.movie-container__img-img {  
  transition: 0.3s ease-in-out;
}

.movie-container__img-img:hover {
  transform: scale(1.2);
  opacity: 95%;
}

.movie-container__title {
  margin-bottom: 1rem;
  text-align: center;
}

@media only screen and (max-width: 1300px) {
  .movies-container {
    gap: 2rem;
  }
}

@media only screen and (max-width: 1120px) {
  .movies-container {
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
}

@media only screen and (max-width: 900px) {
  .movies-container {
    gap: 2rem;
  }
}

@media only screen and (max-width: 800px) {
  .movies-container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .movies-container {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .searchbar__input {
    width: 85%;
  }
}